{% load static %}
{% extends "DeepDive/layout.html" %} 

{% block body %}
<h1>Yup, this is a social site. The only one you are socializing with is YOU who is the most awesome being in the world.</h1>
<div class="content">
    <h1>How to get most out of it?</h1>
    <ol>
        <li>Follow the app</li>
        <li>Reflect on your fears, your purposes and the stuffs that you love.</li>
        <li>Most importantly, love yourself, take care yourself and follow your guts.</li>
    </ol>

    
</div>
<div class="content">
    <h1>Objective of this app</h1>
    <p>If you want the truth, this whole thing is created to remind myself of the things I believe must be remembered by every gentleman and lady.
    Rest is just an excuse.I have found myself depressed because of loves, self-doubts and other stuffs.
    So, I want to show you what I learnt from my experiences of love, my obeservation of relationships and from the uncountable books I have read.
    This, I hope, will help me realize my fears, goals, recent activities and knowledge that I am gaining everyday.
    This is created to make myself an Ubermensch as Friedrich Neitsche said.
    This will help me become a better man, help me have healthier relationships 
    and help me live in the moment right here in this reality without denying my fate.
    </p>
    <p>
    I am confident that these purposes will be served to you too by my fun little project.
   
    </p>

</div>

<div class="content">
    <h1>Acknowledgement</h1>
    [list the people who support me in this project]
</div>

<div class="content">
    <h1>The creator</h1>
    <p>
        I am Ashok Neupane, a CS student, who dreams to be a charismatic leader, a talented CS engineer and an adventurer. 
    </p>
    <p>
        Most of this is the inner voices talking to me. And the remaining ones are the voices from around the world that resonated with me.
    </p>
    <img src="{% static 'DeepDive/images/selflove.jpg' %}" alt="My beautiful picture" width="200px">
</div>







{% endblock %} 