{% extends "DeepDive/layout.html" %} 
{% load static %}

{% block body %} 

<div class="content">
    <h1>Calender</h1>
    <!-- allows the user to add activities to the calender and put remainders and also allow mensuration tracking system  -->
    !Only for ladies: Menstruation Tracking
   
</div>


<div class="content">
    <h1>Watch List</h1>
    [Put the watched movies/series here]
    [Put movies/series to watch here]
    <!-- allow user to add options and clear them once done -->
   
</div>

<div class="content">
    <h1>Reading List</h1>
    [Put the read Books here]
    [Put Books to read here]
    <!-- allow user to add options and clear them once done -->
   
</div>

<div class="content">
    <h1>New Skills</h1>
    [Put the learnt new skills here]
    [Put new skills to learn here]
    <!-- allow user to add options and clear them once done -->
   
</div>


{% endblock %}