{% extends "DeepDive/layout.html" %} 
{% load static %}



{% block body %} 


<div class="content" style="color: rgb(196, 26, 131);">
     <h1>The complete recipe to become who you really want to be.</h1>
    Because this is all I know and do to become the man I want to become.
    This app is equivalent to reading hundreds of self-help books, listening to hundreds of hours of self-help podcasts and watching hundreds of hours of self-help Youtube videos. Plus, this app makes you reflect on youself, see yourself through the eyes of somebody else and critically analyze yourself.
    <br>
    <br>
    <br>

    <a href="{% url 'about' %}">Click me to get started.</a>
</div>

<div class="content" >
    <h1>{{quote}}</h1>
    <br>
    <br>
    <button data-div="add_quote" style="width: 100px; color:black; ">+  Add</button>
    {% if no_quote_given %} 
        <p style="color: red;">Warning:{{no_quote_given}}</p>
    {% endif %}

    <div id="add_quote" style="display: none;">
        <form action="{% url 'home'%}" method="POST" >
            {% csrf_token %} 
            <input type="hidden" name="formname" value="quote" >
            <input type="text" name="new_quote" placeholder="New quote">
            <input type="text" name="new_saidby" placeholder="saidby">
            <input type="submit" value="Add">
        </form>
    </div>
    
</div>

<div class="content">
    <h2>My True Love</h2>
    [Take the most beautiful picture of the user and display it here]
    <br>
    <img src="{% static 'DeepDive/images/selflove.jpg' %}" alt="My beautiful picture" width="200px">
</div>

<div class="content" >
    <h1>My Biggest Goal</h1>
    <ul>
        {% for goal in goals %} 
            <li><h2>{{goal.goal}}</h2></li>
        {% endfor %}
    </ul>
     

    <button data-div="add_goal">+Add Goal</button>
    <div id="add_goal" style="display: none;">
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %} 
            <input type="hidden" name="formname" value="goal" >
            <input type="text" name="goal" placeholder="Your Biggest Goal">
            <input type="submit" value="ADD">
        </form>

    </div>
</div>

<div class="content">
    <h1>Recent Actions</h1>
    [Show a log of recent updates the user made on the web app]

</div>

<div class="content">
    <h1>What people desire?</h1>
    <picture>
        <img src="{% static 'DeepDive/images/needs.jpg' %}" alt="Needs" width="300px">
    </picture>
</div>


{% endblock %}