{% extends "DeepDive/layout.html" %} 
{% load static %}

{% block body %} 

[put a link to guidelines for the new users here.]

<div class="content">
     <h1>The complete recipe to become who you really want to be.</h1>
    Because this is all I know and do to become the man I want to become.
    This app is equivalent to reading hundreds of self-help books, listening to hundreds of hours of self-help podcasts and watching hundreds of hours of self-help Youtube videos. This also makes you reflect on youself, see yourself through the eyes of somebody else and critically analyze yourself.
</div>

<div class="content">
    <h1>Random Quote</h1>
</div>

<div class="content">
    <h2>My True Love</h2>
    [Take the most beautiful picture of the user and display it here]
    <br>
    <img src="{% static 'DeepDive/selflove.jpg' %}" alt="My beautiful picture" width="500px">
</div>

<div class="content">
    <h1>My Biggest Goal</h1>
    [Ask the user what their biggest aimbition is and display it here]
    <h1>To be a charismatic leader, a talented CS engineer and an adventurer</h1>
</div>

<div class="content">
    <h1>Recent Updates</h1>
    [Show a log of recent updates the user made on the web app]

</div>

<div class="content">
    <h1>What people desire?</h1>
    [Show Abraham Maslow's pyramid of needs here]
</div>


{% endblock %}