{% extends "DeepDive/layout.html" %} 
{% load static %}

{% block body %} 
<div class="content" style="color: rgb(209, 80, 183); text-align: center;">
    <h1></h1>
    [put current date  and time here using js. Also time since]
    
</div>

<div class="content"><h1>Life is an experiment.</h1></div>
 <!-- make a form to take inputs and display them and save them in a database -->
<div class="content">

    <h2>Highlights of the day</h2>
    <!-- input field here -->
  
</div>

<div class="content">
    <h2>Fun things</h2>
    <!-- input field here -->
</div>

<div class="content">
    <h2>Emotions felt today</h2>
    <!-- input field here -->
</div>

<div class="content">
    <h2>What went right today?</h2>
    <!-- input field here -->
</div>
    

<div class="content">
    <h2>What went wrong today?</h2>
    <!-- input field here -->
</div>
    

<div class="content"><h1>MAKTUB</h1></div>
{% endblock %}