{% extends "DeepDive/layout.html" %} 
{% load static %}

{% block body %} 

<div class="content">
    <h1>My Values</h1>
    <ul>
        {% for value in values %} 
            <li><h2>{{value.value}}</h2></li>
        {% endfor %}
    </ul>
     

    <button data-div="add_value">+Add value</button>
    <div id="add_value" style="display: none;">
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %} 
            <input type="hidden" name="formname" value="value" >
            <input type="text" name="value" placeholder="Your Biggest value">
            <input type="submit" value="ADD">
        </form>

    </div>

</div>

<div class="content">
    <h1>My Fears</h1>
    [Put your fears here]
</div>

<div class="content">
    <h1>My Personality Traits</h1>
    [Put your personality traits scores on the scale of 0-10 here]
<!-- make form to take input and display the score -->
    <ul><h3>
        <li>Openness: This trait describes your curiosity and affinity for new ideas</li>
        <li>Conscientiousness: This trait involves the way you get things done</li>
        <li>Extroversion: This trait is all about how you relate to people</li>
        <li>Agreeableness: This trait taps into your attitudes toward teamwork and decision-making</li>
        <li>Neuroticism: This trait speaks to your emotional stability and tendency to worry</li>
    </h3></ul>
</div>

<div class="content">
    <h1>My Likes</h1>
    [Put your likes here]
</div>

<div class="content">
    <h1>My Dislikes</h1>
    [Put your dislikes here]
</div>

<div class="content">
    <h1>My Strengths</h1>
    [Put your strengths here]
</div>

<div class="content">
    <h1>My Weaknesses</h1>
    [Put your weaknesses here]
</div>

<div class="content">
    <h1>Self-realized Facts</h1>
    [Put your realizations about yourself here]
</div>

{% endblock %} 