{% extends "DeepDive/layout.html" %} 
{% load static %}

{% block body %} 

<div class="content">
    <h1>Love</h1>
    <!-- defn of love  -->
    <p>We are different. <br>
        We Dream different. <br>
        Our fate is different. <br>
        But still need of love is the same.
    </p>

    <p>
        Three stages of love. <br>
         1. attraction: spark of love. the amber. <br>
         2. infatuation: desiring to be together, obsessing, wanting to know more, <br>
         3. attachment: long lasting only developed after a long time spent together and sound knowledge of eachother. <br>
    </p>
</div>


<div class="content">
    <h1>Finding Love</h1>
    <!-- how to get the girl  -->
</div>


<div class="content">
    <h1>Is he/she the one?</h1>
    <!-- checklist to find if she is the one  -->
</div>


<div class="content">
    <h1>Romance</h1>
    [Put the romantic things you want to do with him/her here]
    <!-- let the user enter list of items with button to show completed -->
</div>


<div class="content">
    <h1>Dos and Don'ts</h1>
    [Put what to do with him/her here]
    [put what not to do with him/her here]
    <!--  let the user enter list of items with button to show completed -->
</div>

<div class="content">
    <h1>Golden Rules</h1>
    <p>
        "There are plenty of fishes in the sea." <br>
	    "You could be the best ice cream but still some people will prefer chocolate."
    </p>
    [Put things to remember while dealing with people here]
    [Put the philosophical ideas here]
    <!-- let the user enter list of items with button to show completed -->
</div>



{% endblock %}