{% extends "DeepDive/layout.html" %} 
{% load static %}

{% block body %}
<!-- put a form for each of the div to allow user to make entries. 
then put a button for each to click "done" if they completed that task.
Make completed tasks green  -->

<h1>Don't save things to do in afterlife. Live while you are here. Enjoy every moment.</h1>

<div class="content">
    <h1>Meditate</h1>
    <p>
        Ask the following: <br>
        What are you willing to struggle for? <br>
        What pain do you want to endure? <br>
        What are willing to sacrifice <br>
    </p>
    [Put the type of meditation you want to practice here.]
</div>


<div class="content">
    <h1>Exercise</h1>
    [put the exercises you want to practice here]
</div>


<div class="content">
    <h1>Self-fulfilling Profecy</h1>
    <h3>Your beleif is powerful. If you believe that the world will give what you need, be consistent and give it all you have, 
    your wishes will definitely come to life. </h3>
    <h2>AMOR FATI => Love Fate</h2>
    [put your wishes here]git 
</div>


<div class="content">
    <h1>Visualize</h1>
    <h3>Imagine that the situation is going on your favour and act calmly as you would if you we the the most graceful KING or QUEEN.</h3>
    <p>For example if you want to make a great speech,
        <ol>
            <li>Visualize that you are the greatest speaker in the world, </li>
            <li>Visualize that the content of your speech is what everybody desperately need,</li>
            <li>And visualize that everybody is excied to listen to the greatest speaker that is you.</li>
        </ol> 
    </p>
</div>


<div class="content">
    <h1>Traits I Am Upgrading </h1>
    [put the changes You want to make in your personality, surrounding or relationships here]
</div>

<div class="content">
    <h1>Charisma Training</h1>
    [put what you want to do to be more charismatic here]
    First thing first: <br>
    HANDS spaced a little from the torso <br>
    EYE CONTACT <br>
    BIG GORILLA Posture <br>
    <p>Internal and external balance. Be firm on your decisions and maintain internal peace. Do things to be proud of. Set the goals and achieve them. Always keep in mind that you are a worthy, hardworking and intelligent gentleman. Find some passions, philosophies and stuffs for JOY</p>
    <h3>Respect the biological differences between man and woman.</h3>
</div>

<div class="content">
    <h1>Leadership</h1>
    [put what you want to do to be a better leader here]
</div>

<div class="content">
    <h1>Stoicism Practice</h1>
    <ul>
        <li>Negative Visualization: Expect the worst case senario.</li>
        <li>Self-Control: Take responsibilities of your actions</li>
        <li>Be indifferent: Let others do what they do</li>
        <li>View from above: You are just a tiny dust of this infinite multiverse</li>
        <li>Journal: Keep your thoughts to yourself</li>
        <li>Amor Fati: Let the storm blow you</li>
        <li>Memento Mori: Remember that you are going to die</li>
    </ul>

    <h3>Manly man Be unshakable by others criticism. Improve if they are consructive. Laugh it out if they are toxic.</h3>
</div>

<div class="content">
    <h1>Find Your Comrades</h1>
    <h2>Your risers,highlighters, wingmen, co-adventurers and partners in crimes</h2>
    [put your comrades and what they do for you here]
</div>



<div class="content">
    <h1>Art Of Observation</h1>
    [put your stratedy of observing people, environment and circumstances here]
</div>

{% endblock %}