{% extends "DeepDive/layout.html" %} 
{% load static %}

{% block body %} 

<div class="content">
    <h1>Theme of the day</h1>
    [Try to live the day with the randomly generated theme]
    <!-- allows the user to add options to the list and let them spin the wheel  -->
</div>

<div class="content">
    <h1>Social Dare</h1>
    [Perform the randomly generated dare]
    <!--   allows the user to add options to the list and let them spin the wheel -->
</div>


<div class="content">
    <h1>Random Character Traits</h1>
    [think about the randomly generated trait and see if you have that trait and if it needs an upgrade]
    <!-- allows the user to add options to the list and let them spin the wheel  -->
</div>


<div class="content">
    <h1>Random Emotions</h1>
    [think about the randomly generated emoition and see if you have that trait and if it needs an upgrade]
    <!-- allows the user to add options to the list and let them spin the wheel  -->
</div>


<div class="content">
    <h1>Random Visualization Meditation</h1>
    <!-- allows the user to add options to the list and let them spin the wheel  -->
   
</div>


{% endblock %}