{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="view-port" content="width=device-width, initial-scale=1">
        <title>Users</title>
        <link rel="stylesheet" href="{% static 'users/styles.css' %}">
        <script src="{% static 'users/scripts.js' %}"></script>
    </head>

    <body>
        {% if not_authenticated %} 
            <h1>{{ not_authenticated }}</h1>
        {% else %}
            <div>
                <h1>Welcome, {{ request.user.first_name }}</h1>

                <ul>
                    <li> First Name: {{ request.user.first_name  }}</li>
                    <li> Last Name: {{ request.user.last_name  }}</li>
                    <li>UserName: {{ request.user.username  }}</li>
                    <li>Email: {{request.user.email}} </li>
                </ul>
                
                <br>
            </div>
        {% endif %}
        <h3>{{message}}</h3>
        <div id="nav">
    <div>
        <button data-div="login">LogIn</button> 
        
    </div>
    <div>
        <button data-div="logout"><a href="{% url 'users:logout' %}">LogOut</a></button>
    </div>
    <div><button data-div="signup">SignUp</button> 
        
    </div>
    <div><button data-div="change_password">ChangePassword</button>
        
    </div>
    
</div>

        <div id="login" style="display: none;">
            <form action="{% url 'users:login' %} " method="post">
                {% csrf_token %} 
                <input type="text" name="username" required autofocus placeholder="Username"><br>
                <input type="password" name="password" required placeholder="Password"><br>
                <input type="submit" required placeholder="Submit"><br>
            </form>
        </div>
        <div id="signup" style="display: none;">
            <form action="{% url 'users:signup' %} " method="post">
                {% csrf_token %} 
                <input type="text" name="first_name" autofocus required autocapitalize="on" placeholder="First Name"><br>
                <input type="text" name="last_name" required autocapitalize="on" placeholder="Last Name"><br>
                <input type="text" name="username" required autocapitalize="on" placeholder="Username"><br>
                <input type="email" name="email" required placeholder="Email Address"><br>
                <input type="password" name="password1" required placeholder="Password"><br>
                <input type="password" name="password2" required placeholder="Password Again"><br>
                <input type="submit" value="Register"><br>
            </form>
        </div>
        <div id="change_password" style="display: none;">
            <form action="{% url 'users:change_password' %}" method="POST">
                {% csrf_token %} 
                <input type="text" name="username" required placeholder="User name"><br>
                <input type="password" name="password0" required placeholder="Current Password"><br>
                <input type="password" name="password1" required placeholder="New Password"><br>
                <input type="password" name="password2" required placeholder="New Password Again"><br>
                <input type="submit" value="Save Changes"><br>
            </form>

        </div>
    </body>
</html>