{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="view-port" content="width=device-width, initial-scale=1">
        <title>Users</title>
        <link rel="stylesheet" href="{% static 'users/styles.css' %}">
        <script src="{% static 'users/scripts.js' %}"></script>
    </head>

    <body>
    <nav><div id="nav">
    <div>
        <button data-div="login">LogIn</button> 
        
    </div>
    <div>
        <a href="{% url 'users:logout' %}"><button data-div="logout">LogOut</button></a>
    </div>
    <div><button data-div="signup">SignUp</button> 
        
    </div>
    <div><button data-div="change_password">ChangePassword</button>
        
    </div>
    
</div>

        <div id="login" style="display: none;">
            <form action="{% url 'users:login' %} " method="post">
                {% csrf_token %} 
                <input type="text" name="username" required autofocus placeholder="Username"><br>
                <input type="password" name="password" required placeholder="Password"><br>
                <input type="submit" required placeholder="Submit"><br>
            </form>
        </div>
        <div id="signup" style="display: none;">
            <form action="{% url 'users:signup' %} " method="post">
                {% csrf_token %} 
                <input type="text" name="first_name" autofocus required autocapitalize="on" placeholder="First Name"><br>
                <input type="text" name="last_name" required autocapitalize="on" placeholder="Last Name"><br>
                <input type="text" name="username" required autocapitalize="on" placeholder="Username"><br>
                <input type="email" name="email" required placeholder="Email Address"><br>
                <input type="password" name="password1" required placeholder="Password"><br>
                <input type="password" name="password2" required placeholder="Password Again"><br>
                <input type="submit" value="Register"><br>
            </form>
        </div>
        <div id="change_password" style="display: none;">
            <form action="{% url 'users:change_password' %}" method="POST">
                {% csrf_token %} 
                <input type="text" name="username" required placeholder="User name"><br>
                <input type="password" name="password0" required placeholder="Current Password"><br>
                <input type="password" name="password1" required placeholder="New Password"><br>
                <input type="password" name="password2" required placeholder="New Password Again"><br>
                <input type="submit" value="Save Changes"><br>
            </form>

        </div></nav>
        <div id="main_body">
            <div>
                {% if not_authenticated %} 
                <h1>{{ not_authenticated }}</h1>
            {% else %}
                <div>
                    <h1>Welcome, {{ request.user.first_name }}</h1>

                    <img src="{{request.user.profile.avatar.url }}" alt="Your avatar" style="width:300px;">
                    <h2>Bio: {{request.user.profile.bio}}</h2>
                    <div>
                        <button data-div="add_avatar"><h3>Change Avatar</h3></button>
                        <div id="add_avatar" style="display: none;">
                            <p><h5>Upload Avatar</h5></p>
                            <form method="POST" enctype="multipart/form-data" action="{%  url 'users:index' %}" >
                                {% csrf_token %} 
                                {{form.as_p}}
                                <button type="submit">Upload</button>
                            </form>
                        </div>
                    </div>
                        <h3> First Name: {{ request.user.first_name  }}</h3><br>
                        <h3> Last Name: {{ request.user.last_name  }}</h3><br>
                        <h3>UserName: {{ request.user.username  }}</h3><br>
                        <h3>Email: {{request.user.email}} </li><br>
                    
                    <div id="backhome" style="text-align: center;">
                        <a href="{% url 'home' %}"><h1>Let's Dive Deep Within...</h1></a>
                    </div>
                    {% endif %}
                    <h3>{{message}}</h3>
                    <br> 
                </div>
            </div>
        </div>
        
        </div>
    </div>
    </body>
</html>