body{
    background-color: #d9d7f1;
    padding: 10px;
    text-align: center;
}
#nav{
    background-color: #ffcbcb;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: space-between;
    padding: 10px;
    
}
