body{
    display: grid;
    grid-template-columns: 300px auto auto;
    background-color: #d9d7f1;
    padding: 10px;
}
nav{
    background-color: #ffcbcb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    
}